/* FrontPage */

body {
	background: url("../images/bg.png") repeat;
	font-family: Verdana, Arial, Tahoma;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

#container, #header img {
	width: 990px;
}

#container {
	margin: 0 auto;
}

#header {
	height: 148px;
}

#header div {
	margin-top: -75px;
	text-align: center;
	width: 230px;
}

#header p {
	font-size: 84%;
	margin: 0;
}

#header .red {
	color: #ef0a05;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 10px;
}

#header .blue {
	color: #0480ba;
}

#header .cart {
	float: right;
	margin-top: -116px;
	position: relative;
	padding: 0 24px;
	width: 208px;
}

#header .cart p {
	color: #0018ff;
	margin: 10px 0;
	text-align: left;
}

#header .cart p span {
	color: #fbfbfd;
}

#header .cart p.blue {
	font-weight: bold;
	margin-top: 3px;
	text-decoration: underline;
}

#header .cart a {
	background-color: #559e1a;
	border: 1px solid #559e1a;
	color: #fff;
	display: inline-block;
	font-size: 90%;
	margin: 0 auto;
	padding: 2px 10px;
	text-decoration: none;
}

#header .cart a:hover {
	background-color: #9cef5a;
}

#header .cart .cart_title {
	font-size: 95%;
	margin: 3px 0 0;
	text-align: center;
}

#topmenu {
	background: url("../images/bg_topmenu.png") repeat-x;
	border: 1px solid #60be15;
	height: 31px;
	padding-top: 10px;
}

#topmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#topmenu ul li {
	float: left;
}

#topmenu ul li  img {
	margin-top: -9px;
}

#topmenu a {
	color: #fff;
	display: block;
	margin: 0 20px;
	text-decoration: none;
}

#topmenu a:hover {
	color: #25aded;
	text-decoration: underline;
}

#search {
	float: right;
	margin-right: 20px;
}

#search table {
	border-collapse: collapse;
	
}

#search table td {
	padding: 0;
}

#search .input_left, #search .input_right {
	height: 22px;
}

#search .input_left {
	background: url("../images/search_left.png") no-repeat;
	width: 30px;
}

#search .input_right {
	background: url("../images/search_right.png") no-repeat;
	width: 7px;
}

#search input {
	background-color: #c1f0a1;
	border: none;
	color: #f7fdf4;
	font-size: 110%;
	font-style: italic;
	height: 20px;
	outline: none;
	text-align: right;
	padding-right: 5px;
	width: 150px;
}

#content {
	background-color: #f2f5fa;
	padding-top: 10px;
	width: 100%;
}

.header {
	padding-top: 10px;
}

.header h3 {
	color: #fff;
	font-style: italic;
	margin: 0;
	text-align: center;
}

#left, #left .header, #left .bottom {
	width: 209px;
}

#left #menu {
	background-color: #f1fae9;
}

#left .header {
	background: url("../images/left_header.png") no-repeat;
	height: 32px;
}

#left #items {
	border: 1px solid #51bdf0;
	border-bottom: none;
	border-top: none;
	padding: 10px 10px 0;
}

#left #items p {
	border-bottom: 1px dashed #56bff0;
	margin: 0 0 5px;
}

#left #items p a {
	color: #161514;
	display: inline-block;
	font-size: 90%;
	font-weight: bold;
	margin: 0 0 5px 5px;
	text-decoration: none;
}

#left #items p a:hover {
	color: #05aefe;
}

#left #items p.last {
	border-bottom: none;
	margin: 0;
}

#left .bottom {
	background: url("../images/left_bottom.png") no-repeat;
	height: 6px;
}

#left {
	float: left;
}

#right {
	margin-left: 230px;
}

#right table {
	border-collapse: collapse;
}

#right .header {
	background: url("../images/right_header.png") no-repeat;
	height: 43px;
	width: 184px;
}

#right table td {
	padding: 0;
	vertical-align: top;
}

#right table td.section_bg, #right table td.section_right {
	height: 15px;
}

#right table td.section_bg {
	background: url("../images/section_bg.png") repeat-x top left;
	width: 592px;
}

#right table td.section_right {
	background: url("../images/section_right.png") no-repeat;
	width: 3px;
}

#right table .sort {
	font-size: 80%;
	margin-left: 5px;
	margin-top: 4px;
	width: 480px;
}

#right table .sort a {
	border-bottom: 1px dashed #0d0d0d;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

#right .products {
	width: 100%;
}

#right .products td {
	padding-bottom: 20px;
}

#right .intro_product, #right .intro_product img {
	width: 175px;
}

#right .intro_product {
	background-color: #ececec;
	padding-bottom: 5px;
}

#right .intro_product p {
	font-size: 90%;
	margin: 5px 0;
	text-align: center;
}

.link_cart {
	background: url("../images/cart.png") no-repeat;
	display: block;
	height: 27px;
	margin: 0 auto;
	width: 106px;
}

.link_cart:hover {
	background: url("../images/cart_active.png") no-repeat;
}

p.price {
	color: #d51616;
	font-weight: bold;
}

#right .intro_product .title a {
	color: #444abb;
}

#right .intro_product .title a:hover {
	color: #1722b4;
}

#footer {
	background: url("../images/footer_bg.png") repeat-x bottom;
}

#footer #pm table {
	margin: 40px auto -80px;
}

#footer #copy {
	background: url("../images/footer.png") no-repeat 2% bottom;
	height: 54px;
	padding-top: 85px;
}

#footer #copy p {
	color: #edf6e9;
	text-align: center;
}

#footer #copy .counter {
	margin-right: 8px;
	margin-top: -39px;
}

#footer #copy img {
	float: right;
}

/* Product */

#right #hornav {
	font-size: 90%;
}

#right #hornav td {
	padding: 0 3px;
}

#right #hornav a {
	color: #1722b4;
}

#right #hornav a:hover {
	text-decoration: none;
}

#right #product {
	margin-top: 20px;
	width: 700px;
}

#right #product .product_desc {
	padding-left: 20px;
	width: 100%;
}

#right #product td p {
	font-size: 85%;
	font-weight: bold;
	margin: 0 0 8px;
}

#right #product table p.price {
	font-size: 120%;
	font-weight: normal;
}

#right #product table td {
	padding-right: 20px;
}

#right #product td p span {
	font-weight: normal;
}

#right #product td p span.title {
	color: #58a41b;
}

#right #product p.desc_title {
	margin: 10px 0 5px;
}

#right #product p.desc {
	font-weight: normal;
}

#right #others h3 {
	margin-bottom: 0;
}

#right #others .intro_product, #right #others .products img {
	width: 108px;
}

#right #others .intro_product {
	background: none;
}

#right #others .intro_product p.price {
	font-weight: normal;
}

/* Cart */

#cart h2, #order h2 {
	font-size: 120%;
	font-weight: normal;
	margin: 0;
}

#cart table {
	font-size: 90%;
	width: 750px;
}

#cart table td {
	padding: 5px 0;
	text-align: center;
}

#cart .count {
	font-size: 105%;
	margin: 0 auto;
	width: auto;
}

.img {
	width: 100px;
}

#cart .cart_row .count td {
	padding: 0 3px;
	vertical-align: middle;
}

#cart #cart_top {
	background: url("../images/cart_top.png") no-repeat;
}

#cart #cart_bottom {
	background: url("../images/cart_bottom.png") no-repeat;
	height: 10px;
}

#cart .cart_left, #cart .cart_right {
	width: 20px;
}

#cart .cart_left {
	background: url("../images/cart_left.png") repeat-y;
}

#cart .cart_right {
	background: url("../images/cart_right.png") repeat-y top right;
}

#cart .img img {
	width: 74px;
}

#cart input[type="text"] {
	border: 1px solid #000;
	font-size: 110%;
	height: 24px;
	text-align: right;
	width: 25px;
}

#cart .link_delete {
	color: #d51616;
	text-decoration: none;
	border: none;
	background-color: transparent;
}

#cart .link_delete:hover {
	text-decoration: underline;
}

#cart td.title {
	text-align: left;
	width: 200px;
}

#cart .cart_row td {
	padding: 0;
}

#cart .cart_border hr {
	color: #eee;
}

#cart #discount {
	background-color: #d5f9b5;
}

#cart #discount table {
	width: auto;
}

#cart #discount table td {
	padding: 0 10px;
}

#cart #discount table td span {
	font-size: 80%;
}

#cart #discount table input[type="text"] {
	border: 1px solid #7cf115;
	height: 26px;
	text-align: left;
	width: 140px;
}

#cart #summa p {
	font-size: 120%;
	margin: 5px 0;
	text-align: right;
}

#cart #summa p span {
	font-weight: bold;
}

#cart .left {
	float: left;
}

#cart .right {
	float: right;
}

/* Order */

#order {
	font-size: 90%;
}

#order table {
	border-collapse: separate;
	border-spacing: 0 3px;
}

#order .w120 {
	width: 120px;
}

#order table td {
	background-color: #fff;
	padding: 5px;
	vertical-align: middle;
}

#order input[type="text"], #order select, #order textarea {
	background-color: #e8ffd6;
	border: 1px solid #8ffa3b;
}

#order input[type="text"] {
	height: 24px;
	width: 200px;
}

#order select {
	height: 28px;
	width: 200px;
	padding: 4px 4px 4px 0;
}

#order select option {
	background: #d3fab4;
}

#order .button {
	background: none;
	padding-top: 10px;
	text-align: right;
}

/* Message */

#message h2 {
	font-size: 130%;
	text-align: center;
}

#message p {
	text-align: center;
}

#message_string {
	color: #c00;
	text-align: center;
}

/* Search */

#search_result h2 {
	font-size: 120%;
	font-weight: normal;
	margin: 0;
  margin-bottom: 10px;
}

/* Article */

#article {
	font-size: 90%;
	width: 700px;
}

#article h2 {
	font-size: 130%;
	margin: 5px 0;
	text-align: center;
}